@charset "utf-8";
.constest_bottom {
  width: 100%;
}
.constest_bottom > .con_menu {
  width: 100%;
  padding-top: 20px;
}
.constest_bottom > .con_menu > .con_menu_list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.constest_bottom > .con_menu > .con_menu_list > li {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 50px;
}
