@charset "utf-8";

.visual {
  width: 100%;
  margin-top: 76px;
  position: relative;
  display: block;
}
.visual > img {
  width: 100%;
  position: relative;
}

.student-work .inner h2 {
  color: #fff;
  margin-bottom: 2vw;
}
.student-work {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 95;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 40px 0;
}
.sw-student .swiper-slide {
  display: flex;
  justify-content: center;
}
.mb-visual-img {
  display: none;
}
.student-work-img {
  height: 13vw;
}
.sw-student img {
  height: 100%;
  object-fit: cover;
}
@media screen and (max-width: 1231px) {
  .student-work {
    padding: 20px 0;
  }
  .student-work-img {
    height: 15vw;
  }
}
@media screen and (max-width: 768px) {
  /* .student-work{
        position: relative;
        padding: 5vw 0;
        background-color: rgba(0,0,0,0.9);
    } */
  .mb-visual-img {
    display: block;
  }
  .web-visual-img{
    display: none;
  }
  .student-work-img {
    height: 35vw;
  }
}
